# Unity
Unity/[Ll]ibrary/
Unity/[Tt]emp/
Unity/[Oo]bj/
Unity/[Bb]uild/
Unity/[Bb]uilds/
Unity/[Ll]ogs/
Unity/[Uu]ser[Ss]ettings/
Unity/[Mm]emoryCaptures/
Unity/[Rr]ecordings/
Unity/[Aa]sset[Ss]tore[Tt]ools/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.unityproj

# OS
.DS_Store
Thumbs.db

# Unity生成
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties

# Rider
.idea/
